@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  *,
  :focus {
    outline: none;
  }
  :root {
    --primary: #fff;
    --primary-dark: #fff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    font-family: "Mulish";
    font-weight: 700;
  }
  h1 {
    @apply text-[2.3rem] sm:text-[2.6rem] md:text-[2.8rem] lg:text-[3.2rem] xl:text-6xl lg:!leading-[5.5rem];
  }
  h2 {
    @apply text-[1.9rem] sm:text-[2.3rem] lg:text-[2.7rem] xl:text-5xl;
  }
  h3 {
    @apply text-[1.7rem] sm:text-[2rem] lg:text-[2.4rem] xl:text-4xl;
  }
  h4 {
    @apply text-[1.3rem] sm:text-[1.6rem] lg:text-[1.6rem] xl:text-3xl;
  }
  h5 {
    @apply text-[1.1rem] sm:text-[1.3rem] lg:text-[1.4rem] xl:text-2xl;
  }
  h6 {
    @apply text-[1rem] sm:text-[1.1rem] xl:text-xl;
  }
  html,
  body {
    background: #0e1414 !important;
  }
  body {
    direction: ltr;
    font-family: "Mulish";
    color: #fff;
    min-height: 100vh;
  }
}
.container {
  @apply max-w-[100%] px-3 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
}
.product li:nth-child(1) {
  @apply left-0 z-[5] bottom-[12vh] after:bg-[#62613886];
}
.product li:nth-child(2) {
  @apply left-0 z-[4] bottom-[10vh] after:bg-[#253e3c];
}
.product li:nth-child(3) {
  @apply left-0 z-[3] bottom-[8vh] after:bg-[#392940];
}
.product li:nth-child(4) {
  @apply left-0 z-[2] bottom-[6vh] after:bg-[#191c3a];
}
.product li:nth-child(5) {
  @apply left-0 z-[1] bottom-[4vh] after:bg-[#3a1929];
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 11rem;
  height: 2.6em;
  top: 5px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.splide__list {
  @apply items-center;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #25291d;
  transition: 0.5s;
  border-radius: 25px;
}
.content h3,
.content h4 {
  @apply font-extrabold;
}
.content p {
  @apply text-gray-600;
}

.blog-content h1 {
  @apply my-6 text-[2.3rem] sm:text-[2.6rem] md:text-[2.8rem] font-extrabold;
}
.blog-content h2 {
  @apply my-6 text-[1.6rem] sm:text-[1.8rem];
}
.blog-content h3 {
  @apply my-6 text-[1.6rem] sm:text-[1.7rem];
}
.blog-content h4 {
  @apply my-6 text-[1.3rem] sm:text-[1.6rem];
}
.blog-content h5 {
  @apply my-6 text-[1.1rem] sm:text-[1.3rem];
}
.blog-content h6 {
  @apply my-6 text-[1rem] sm:text-[1.1rem];
}
.blog-content p {
  @apply my-6 text-gray-300;
}
.blog-content pre {
  @apply p-3 rounded-xl;
}
.cat-bg {
  background-image: url("/img/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.switch .title:nth-child(3) {
  @apply absolute top-[8px] left-[13px] text-white z-10;
}
.switch .title:nth-child(4) {
  @apply absolute top-[8px] right-[13px] text-white z-10;
}
.slider:before {
  position: absolute;
  content: "";
  height: 2em;
  width: 4.7em;
  border-radius: 0px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
  border-radius: 25px;
}

.switch input:checked + .slider:before {
  width: 4.9em;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

.switch input:checked + .slider:before {
  transform: translateX(4.9em);
}
.glass,
.glass.btn-active {
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
  background-color: transparent !important;
  background-image: linear-gradient(
      135deg,
      rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
      rgb(0 0 0 / 0%) 100%
    ),
    linear-gradient(
      var(--glass-reflex-degree, 100deg),
      rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%,
      rgb(0 0 0 / 0%) 25%
    ) !important;
}
.glass:hover {
  background-size: 500%;
  transition: background-size 0.4s ease-in-out;
}
